*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-color: var(--mantine-color-body);
    color: var(--mantine-color-text);
}

#root {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}
